---
---

$about-colour: #FF0F00;
$skills-colour: #FFB000;
$work-colour: #00FF11;
$references-colour: #FF00F9;
$contact-colour: #00C8C8;

@import 'navbar';
@import 'sections/intro';
@import 'sections/about';
@import 'sections/skills';
@import 'sections/work';
@import 'sections/references';

@font-face {
  font-family: 'SummerHearts';
  src:  url('../fonts/SummerHearts.woff2') format('woff2'),
        url('../fonts/SummerHearts.woff') format('woff');
}
body{
  margin:0;
  font-family: Lato, sans-serif;
}
.section{
  height: 95vh;
  width: 100%;
  padding-top: 30px;
  &.hero{
    height: 100vh;
    padding-top: 0px
  }
  .section-info{
    width: 90%;
    margin: 0 auto;
  }
  .section-heading{
    font-family: SummerHearts, Lato, sans-serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
  }
}
