<div class="about-left">
  <div class="round-image">
    <img class="my-face" src="../images/me.png" alt="">
    <div class="img-quote">What's up?</div>
  </div>
</div>
<div class="about-right">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a consequat dui. Ut a magna non lectus eleifend tristique ac non risus. Suspendisse lobortis lorem eleifend neque laoreet luctus. Praesent varius velit iaculis, facilisis diam sed, egestas dolor. Vestibulum sed congue massa. Fusce eu aliquet nisi. Maecenas in nulla fermentum neque mattis viverra. Sed ultricies ultricies tempus. Nullam sodales ante quis lobortis euismod. Fusce aliquam elit sit amet magna egestas dictum. Nullam auctor lacus odio, id dignissim ligula ornare quis. Praesent sit amet libero eget dui tincidunt luctus id nec purus.
    <br>
    Sed feugiat arcu ut leo malesuada maximus. Maecenas turpis nisl, pulvinar eu volutpat vel, congue vel libero. Nulla vel venenatis leo. Vestibulum posuere lorem volutpat semper mattis. Suspendisse potenti. Suspendisse lectus mauris, blandit a cursus vitae, tempor eget enim. Nam ut est commodo, gravida diam rhoncus, egestas urna. In fermentum ullamcorper tristique. Integer dui turpis, blandit suscipit dignissim in, varius a nunc. Duis aliquet augue a nisi bibendum, quis feugiat sapien blandit. Nullam dignissim ante vitae lobortis bibendum. Sed eu felis est.
    <br>
    Nulla at ante eu eros fermentum lacinia. Cras rutrum a eros nec commodo. Morbi eu consequat purus. Integer dignissim tortor at lacus volutpat laoreet. Cras sodales laoreet sapien, sit amet rhoncus diam fringilla id. Quisque id feugiat mauris, in laoreet ligula. Curabitur quis leo laoreet, tincidunt odio vitae, semper nisi. Aenean ultricies sagittis ligula eget bibendum. Aliquam dapibus molestie nibh sit amet dignissim. Nulla quis iaculis enim. Suspendisse pulvinar tincidunt metus, a euismod metus ultrices sed. Vivamus semper mi a arcu sodales iaculis. Nullam nisi ex, tristique non lacus id, dignissim imperdiet lectus. Donec porttitor porttitor eros in scelerisque.
  </p>
</div>
